.App {
  text-align: center;
}
.wfheader{
  color: #d57228;
  font-size: 32px;
  font-weight: 100;
  padding: 5px 10px;
  width: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.wfSearch {
  border: 2px  solid #d57228;
  width: 300px !important ;
  margin-top: 2px;
}
.wfRight{
  justify-content: end;
}
.wfsearchBtn{
  height: auto;
  width: auto;
  background-color: #d57228;
  padding: 3px 20px;
  margin-top: 0px;
  max-width: max-content;
  border-radius: 10px;
  font-size: 18px;
}
.wfFlex {
  display: flex;
} 
.wfHcenter {
justify-content: center;
}
.wfVcenter {
align-items: center;
}
.rtBorder{
  border-right: 2px solid gray
}
.tableContainer{
  max-width: 300px !important;
  background-color: #d57228;
  margin-top: 20px;
  border: 2px solid gray;
}
.tempBlock{
  background-color: #cccccc;
  border-bottom: 2px solid gray;
  padding: 5px 10px;
}
#dateBlock{
  background-color: #d57228;
  text-align: center;
  font-size: 20px;
  border-bottom: 2px solid gray;
  padding: 5px 10px;
}
.wfMinMaxBlock{
  background-color: #cccccc;
  border-bottom: 2px solid gray;
  padding: 5px 10px;
}
.wfpresureHumidityBlock{
  background-color: #ffffff;
  border-bottom: 2px solid gray;
  padding: 5px 10px;
}
.dataRow{
  flex-wrap: wrap;
}
.ins-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: 'red';
  padding: 0px !important;
}
.nopad {
  padding: 0px !important;
  margin: 0px !important;
}

.ins-grid-items{
  width: 240px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
  border: solid 2px rgba(112, 112, 112, 0.4);
  background-color: #fff;
   overflow: hidden;
  cursor: pointer;
  position: relative;
  &:hover {
    border: solid 2px #d57228;
  }

}
@media only screen and (max-width: 750px) {
 
.ins-grid-items{
  width: 80%;
  height: auto;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 15px;
  max-width: 400px;
}

.wfheader{
  color: #d57228;
  font-size: 30px;
  font-weight: 100;
  padding: 5px 10px;
  width: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.wfSearch {
  border: 2px  solid #d57228;
  width: 80% !important ;
  padding: 3px !important;
}
.wfsearchBtn{
  height: auto;
  width: auto;
  background-color: #d57228;
  padding: 3px 20px;
  margin-top: 30px;
  max-width: max-content;

}
}